<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">
            This Web Application is composed of MEAN stack, which means MongoDB, Express (Framework of Node.js), Angular (in this project, Angular 8 is used), and Node.js
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <strong>ToDoList</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
<ng-flash-message></ng-flash-message>

<main role="main">
  <router-outlet></router-outlet>
</main>

<footer class="text-muted">
  <div class="container">
    <p>Hansung Univ. ParkJH</p>
    <p><a target="_blank" href="https://github.com/p9595jh/ToDoList_Angular8">Github</a></p>
    <p><a target="_blank" href="https://getbootstrap.com/">Bootstrap</a></p>
  </div>
</footer>
